@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    @apply text-main;
    scroll-behavior: smooth;
}

ol {
    list-style-type: decimal;
    padding-left: 1.3rem;
}

h1 {
    font-weight: bold;
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

.docs a {
    @apply mb-2;
}

.docs li {
    @apply mb-2 ml-4;
}

.wrapper {
    @apply mx-auto;
    max-width: 1200px;
}

.home {
    width: 100%;
}

.side {
    width: 100%;
}

.userpage,
.userpage-item {
    width: 100%;
}

.edit-base {
    width: 100px;
}

.required {
    @apply relative;
}

.required::after {
    content: "*";
    padding-left: 2px;
    color: red;
    @apply absolute;
}

.edit-1,
.edit-2,
.edit-3 {
    width: 100%;
}

.edit-birth {
    width: 100%;
}

.edit-birth-p {
    width: 80%;
}

.user-img {
    width: 250px;
    height: 250px;
}

@media screen and (max-width: 1510px) {
    .user-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1310px) {
    .user-img {
        width: 175px;
        height: 175px;
    }
}

@media screen and (max-width: 1280px) {
    .userpage {
        width: 660px;
    }
    .useritem {
        width: 500px;
    }

    .user-img.in {
        width: 220px;
        height: 220px;
    }
}

@media screen and (max-width: 1000px) {
    .userpage {
        width: 560px;
    }
}

@media screen and (max-width: 900px) {
    .userpage {
        width: 460px;
    }

    .useritem {
        width: 320px;
    }

    .user-img {
        width: 135px;
        height: 135px;
    }

    .user-img.in {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 850px) {
    .user-img.ex {
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 768px) {
    #forCompress {
        max-width: 150px !important;
    }

    .userpage {
        width: 96%;
    }
}

@media screen and (max-width: 500px) {
    .user-img.in {
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 460px) {
    .user-img.in {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 420px) {
    .user-img.in {
        width: 125px;
        height: 125px;
    }
}

@media screen and (min-width: 768px) {
    .home {
        width: 800px !important;
    }

    .side {
        width: 330px !important;
    }
    /*
    .useritem {
        width: 500px;
    }*/

    .tree {
        @apply !mx-auto;
    }

    .timeline-p > .tree,
    .individual > .tree,
    .userTimeline > .tree {
        width: 80% !important;
    }

    /*.userpage-item {
        width: calc(50% - 1.5rem) !important;
    }*/

    .edit-item {
        margin-left: 200px;
    }

    .edit-pic {
        width: 600px;
    }

    .edit-base {
        width: 200px;
    }

    .edit-1 {
        width: 80%;
    }

    .edit-2 {
        width: 38%;
    }

    .edit-3 {
        width: 24%;
    }

    .edit-birth {
        width: 50%;
        margin-right: 5%;
    }

    .edit-birth-p {
        width: 20%;
    }
}

#nav.in {
    display: block;
    transition: 0.2s;
}

.deco {
    @apply w-fit;
    position: relative;
    display: inline-block;
    padding-left: 16px;
    line-height: 1;
}

.deco::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 105%;
    background-color: #fedfdf;
}

.tree {
    max-width: 1200px;
    min-height: 400px;
    @apply mx-8 my-20 pl-20 relative;
}

.timeline-p > .tree,
.individual > .tree,
.userTimeline > .tree {
    width: 100%;
}

.tree::before {
    content: "";
    top: -20px;
    left: 0;
    width: 1rem;
    height: calc(100% + 60px);
    @apply absolute bg-main-btn rounded-full;
}

.tree-content {
    @apply relative;
}

.tree-content::after {
    content: "";
    left: -5.5rem;
    top: 0;
    width: 2rem;
    height: 2rem;
    @apply absolute rounded-full bg-main-btn;
}

.belongsProject .tree {
    @apply mt-12 pl-16;
}

.belongsProject .tree::before {
    @apply bg-main-btn;
}

.belongsProject .tree-content::after,
.individual .tree-content::after,
.timeline .tree-content::after {
    left: -4.5rem;
    top: 50%;
    transform: translateY(-50%);
    @apply bg-main-btn;
}

.individual .tree-content::after,
.timeline .tree-content::after {
    left: -5.5rem;
}

.belongsProject .tree-content::before,
.individual .tree-content::before,
.timeline .tree-content::before {
    content: "";
    height: 1rem;
    width: 5rem;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
    @apply absolute rounded-full bg-main-btn;
}

.release.tree::before,
.release.tree .tree-content::before,
.release.tree .tree-content::after {
    @apply bg-bg-gray;
}

.main-wrapper {
    width: 100%;
    max-width: min(calc(100vw - 20rem), 1600px);
    margin: 0 auto;
    min-height: calc(100vh - 110px);
}
@media screen and (max-width: 768px) {
    .main-wrapper {
        max-width: 96%;
        margin: 0 2%;
    }
}

.infoFrame td {
    @apply pb-1;
}

@media screen and (min-width: 1280px) {
    .userFrame,
    .infoFrame {
        width: calc(50% - 1.5rem) !important;
    }
}

@media screen and (min-width: 1900px) {
    .userlist .userFrame {
        width: calc(100% / 3 - 2rem) !important;
    }

    .user-img {
        width: 215px !important;
        height: 215px !important;
    }
}
.edit td {
    @apply py-4;
}

input[type="submit"] {
    @apply px-3 rounded-lg bg-bg-gray cursor-pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="date"],
input[type="checkbox"],
select,
textarea {
    resize: none;
    border: none;
    @apply bg-bg-main rounded py-2 px-2;
}
select {
    width: 110%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="checkbox"]:focus,
select:focus,
textarea:focus {
    outline: none;
    --tw-ring-shadow: 0;
    @apply outline-offset-0;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 768px) {
    #link table,
    #link tbody,
    #link tr,
    #link td,
    #link th {
        width: 100% !important; /* 幅を100%にする */
        display: block; /* ブロック要素にする */
    }

    #link tr {
        border-bottom: 2px dotted #fedfdf;
    }

    #link tr:last-of-type {
        border-bottom: none;
    }

    #link td:first-of-type {
        @apply mx-auto text-center font-bold text-lg;
    }

    #link tr:last-of-type td {
        @apply text-left font-normal text-base;
    }

    #timeline table,
    #timeline tbody,
    #timeline tr,
    #timeline td,
    #timeline th {
        width: 100% !important; /* 幅を100%にする */
        display: block; /* ブロック要素にする */
    }

    #timeline tr {
        border-bottom: 2px dotted #fedfdf;
    }

    #timeline tr:last-of-type {
        border-bottom: none;
    }

    #timeline td:first-of-type {
        @apply mx-auto text-center font-bold text-lg;
    }

    #timeline tr:last-of-type td {
        @apply text-left font-normal text-base;
    }

    #timeline tr td.timeline-genre {
        width: 80% !important;
        padding-right: 20px;
        margin: auto;
    }

    #timeline tr td:nth-of-type(1),
    #timeline tr td:nth-of-type(6) {
        @apply pb-0;
    }

    #timeline tr:last-of-type td {
        @apply pb-4;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .calender.pc > iframe {
        height: 600px !important;
    }
}

@media screen and (max-width: 1024px) {
    .calender.sp > iframe {
        width: 100% !important;
    }
}

/* チャート用 */
.chartWrapper {
    margin: 0 auto;
    /* overflow-x: scroll; */
    width: 600px;
    height: 600px;
}
.chartWrapper_small {
    margin: 0 auto;
    padding: 2em;
    /* overflow-x: scroll; */
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 640px) {
    .chart {
        width: 400px !important;
        height: 400px !important;
    }

    .chartWrapper {
        margin: 0 auto;
        /* overflow-x: scroll; */
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 460px) {
    .chart {
        width: 360px !important;
        height: 360px !important;
    }

    .chartWrapper {
        margin: 0 auto;
        /* overflow-x: scroll; */
        width: 360px;
        height: 360px;
    }
}

/* カレンダーグレースケール化 */
.calender iframe,
.calender object,
.calender embed {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
